@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* Tailwind: Gray 300 */
    --foreground-rgb: 209, 213, 219;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 50, 50, 50;
}

body {
    color: rgb(var(--foreground-rgb));
    margin: 8px;

    background-image:
        linear-gradient(to bottom,
            transparent,
            rgb(var(--background-end-rgb))),
        radial-gradient(red, rgba(255, 255, 255, .2) 2px, transparent 0px),
        radial-gradient(yellow, rgba(255, 255, 255, .2) 2px, transparent 0px),
        radial-gradient(blue, rgba(255, 255, 255, .2) 2px, transparent 0px),
        radial-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .2) 2px, transparent 0px);
    background-color: rgb(var(--background-start-rgb));
    background-size: cover, 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}